<!DOCTYPE HTML>
<html>
{% load static %}
	<head>
		<title>Online MCQ website</title>
		<meta name="keywords" content="legend iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"  media="all" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>	
		<link rel="stylesheet" href="{% static 'css/responsiveslides.css' %}">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="{% static 'js/responsiveslides.min.js' %}"></script>
	</head>
	<body>
		<div class="header" style="background:#FFFFFF;">
			<div class="wrap">
			<!-- 	<div class="logo">
					<a href="/MCQ">
						<img style="height:70px;" src="{% static 'images/Optimum.png' %}" title="logo" />
					</a>
				</div>
		 -->
			<div class="top-search-bar">
				<div class="header-top-nav">
					{% if username  %}
					<div>
						hello, {{username}} 	
						<a href="/MCQ/logout">log out</a>
					</div>
					{% if role == "Instructor" %}
					<div>you are instructor
					</div>
					{% else %}
					<div>you are not instructor
					</div>
					{% endif %}
					{% else %}
					<ul>
						<li>
							<a href="/MCQ/login">	
								<img src="{% static 'images/marker1.png'%}" title="livehelp" />Login
							</a>
						</li>
						<li>
							<a href="/MCQ/reg" data-rel="popup">
								<img src="{% static 'images/marker1.png'%}" title="Blog" />Register
							</a>
						</li>
					</ul>
					{% endif %}
				</div>
			</div>
			<div class="clear">
			</div>
		</div>
	</div>
	<div class="header-nav">
		<div class="wrap">
			<div class="left-nav">
				<ul>
					<li class="active">
						<a href="/MCQ">Home</a>
					</li>
					<li>
						<a href="/MCQ/courses">Courses</a>
					</li>
					<!-- <li>
						<a href="/MCQ/contact">Contact</a>
					</li> -->
					{% if role == "Instructor" %}
					<li>
						<a href="/MCQ/students">Students</a>
					</li>
					{% endif %}

					{% if username  %}
					<li>
						<a href="/MCQ/profile">Profile</a>
					</li>
					{% endif %}
				</ul>
			</div>
			<div class="right-social-icons">
				<ul>
					<li>
						<a class="icon1" href="#"> </a>
					</li>
					<li>
						<a class="icon2" href="#"> </a>
					</li>
					<li>
						<a class="icon3" href="#"> </a>
					</li>
				</ul>
			</div>
			<div class="clear"> 
			</div>
		</div>
	</div>
	<div class="wrap">
		<div class="image-slider">
			<ul class="rslides" id="slider1">
				<li>
					<img src="{% static 'images/slide1.jpg' %}" alt="">
				</li>
				<li>
					<img src="{% static 'images/slide2.jpg' %}" alt="">
				</li>
				<li>
					<img src="{% static 'images/slide1.jpg' %}" alt="">
				</li>
			</ul>
		</div>
		<div class="content">
			<div class="section group">
				<div class="grid_1_of_4 images_1_of_4">
					<h4>Satndards</h4>
					<img src="{% static 'images/g3.jpg' %}">
					<h3>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					</p>
					<div>
						<span>
							<a class= "button" href="/standard">Read More
							</a>
						</span>
					</div>
				</div>
				<div class="grid_1_of_4 images_1_of_4">
					<h4>What We Do?</h4>
					<img src="{% static 'images/g2.jpg' %}">
					<h3>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
					</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					</p>
					<div>
						<span>
							<a class= "button" href="/what_do">Read More
							</a>
						</span>
					</div>
				</div>
				<div class="grid_1_of_4 images_1_of_4">
					<h4>Our Staff</h4>
					<img src="{% static 'images/g1.jpg' %}">
					<h3>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				 	</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					</p>
					<div>
						<span>
							<a class= "button" href="/staff">Read More
							</a>
						</span>
					</div>
				</div>

				<div class="grid_1_of_4 images_1_of_4">
					<h4>AMCQ News</h4>
					<img src="{% static 'images/news.jpg' %}" style="height: 146px">
					<h3>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
				 	</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					</p>
					<div>
						<span>
							<a class= "button" href="/news">Read More
							</a>
						</span>
					</div>
				</div>
				<!-- <div class="grid_1_of_4 images_1_of_4 services">
					<h4>AMCQ News</h4>
					<img src="{% static 'images/marker2.jpg' %}">
					{% for new in news %}
						<ul>
							<li>
								<a href="#">
									 title="pointer "/>{{new.new_title}}
								</a>
								<h5>{{new.date}}</h5>
							</li>
						</ul>
					{% endfor %}
				</div> -->

			</div>
			<div class="clear"> </div>
		</div>
		<!-- <div class="footer"> 
			<div class="wrap"> 
				<div class="footer-left">
					<ul>
						<li class="active">
							<a href="/MCQ">Home</a>
						</li>
						<li>
							<a href="/MCQ/courses">Courses</a>
						</li>
					    <li>
							<a href="/MCQ/contact">Contact</a>
						</li> 
						{% if role == "Instructor" %}
						<li>
							<a href="/MCQ/students">Students</a>
						</li>
						{% endif %}

						{% if username  %}
						<li>
							<a href="/MCQ/profile">Profile</a>
						</li>
						{% endif %}
					</ul>
				</div>
				<div class="footer-right">
					<p>&copy; MCQ ONLINE website</p>
				</div>
				<div class=="clear"> </div>
			</div>
		</div> -->
	</body>
</html>

