<!DOCTYPE HTML>
<html>
{% load static %}
	<head>
		<title>Online MCQ website</title>
		<meta name="keywords" content="legend iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/responsiveslides.css' %}">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="{% static 'js/responsiveslides.min.js' %}"></script>
	</head>
	<body>
		<!---start-wrap---->
		<div class="top-search-bar">
					<div class="header-top-nav">
					<!-- MCQ if session null or not 
					 -->
					 {% if username  %}

						<div>
						hello, {{username}} 	
							<a href="/MCQ/logout">log out</a>
						</div>
						{% if role == "Instructor" %}
						<div>you are instructor</div>
						{% else %}
						<div>you are not instructor</div>
						{% endif %}

						{% else %}
						<ul>
							<li>
								<a href="/MCQ/login">
									<img src="{% static 'images/marker1.png'%}" title="livehelp" />Login
								</a>
							</li>
							<li>
								<a href="/MCQ/reg" data-rel="popup">
									<img src="{% static 'images/marker1.png'%}" title="Blog" />Register
								</a>
							</li>
						</ul>
						
					{% endif %}
					</div>
				</div>
			<!---start-header---->
			<div class="header">
				<div class="wrap">
				<!---start-logo---->
				<!-- <div class="logo">
					<img style="height:70px;" src="{% static 'images/Optimum.png' %}"/></a>
				</div> -->
				<!---end-logo---->
				
				<div class="clear"> </div>
				</div>
			</div>
			
				<div class="clear"> </div>
				<div class="header-nav">
					<div class="wrap">
					<div class="left-nav">
						<ul>
							<li><a href="/MCQ">Home</a></li>
							
							<li class="active"><a href="/MCQ/courses">Courses</a></li>
							<!-- <li><a href="/MCQ/contact">Contact</a></li> -->
							{% if role == "Instructor" %}
							<li><a href="/MCQ/students">Students</a></li>
							{% endif %}

							{% if username  %}
							<li><a href="/MCQ/profile">Profile</a></li>
							{% endif %}
						</ul>
					</div>
					<div class="right-social-icons">
						<ul>
							<li><a class="icon1" href="#"> </a></li>
							<li><a class="icon2" href="#"> </a></li>
							<li><a class="icon3" href="#"> </a></li>
							<li><a class="icon4" href="#"> </a></li>
						</ul>
					</div>
					<div class="clear"> </div>
				</div>
				<!---start-search---->
			</div>
			<!---end-header---->
			<div class="wrap">
					<!---start-content---->
					<div class="content">
						<div class="clients">
							<h5>Questions</h5>
							<form method="post" action="/MCQ/q_list/">
							{% csrf_token %}
								<input type="text" name="qname" placeholder="enter new question"/>
								<input type="submit" value="add"/>
							</form>
						</div>
				 	</div>
					<!---End-content---->
					<div class="clear"> </div>
			</div>
			<!-- <div class="footer"> 
				<div class="wrap"> 
				<div class="footer-left">
					<ul>
						<li><a href="/MCQ">Home</a></li>
						{% if username  %}
						<li><a href="/MCQ/profile">Profile</a></li>
						{% endif %}
						<li class="active"><a href="/MCQ/courses">Courses</a></li>
						<li><a href="/MCQ/contact">Contact</a></li>
						{% if role == "Instructor" %}
						<li><a href="/MCQ/students">Students</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="footer-right">
					<p>&copy; MCQ ONLINE website</p>
				</div>
				<div class=="clear"> </div>
				</div>
			</div> -->
	</body>
</html>

