<!DOCTYPE HTML>
<html>
	{% load static %}
	<head>
		<title>Online MCQ website</title>
		<meta name="keywords" content="legend iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css"  media="all" />
		<link rel="stylesheet" href="{% static 'css/responsiveslides.css' %}">
		<link rel="stylesheet" href="{% static 'css/st_students.css' %}">
		<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="{% static 'js/responsiveslides.min.js' %}"></script>
		<script src="{% static 'js/st_students.js' %}"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	</head>
	<body>
		<!---start-wrap---->
		<div class="top-search-bar">
			<div class="header-top-nav">
					<!-- MCQ if session null or not 
					 -->
				{% if username  %}
				<div>
					hello, {{username}} 	
					<a href="/MCQ/logout">log out</a>
				</div>
				{% if role == "Instructor" %}
				<div>you are instructor</div>
				{% else %}
				<div>you are not instructor</div>
				{% endif %}
				{% else %}
					<ul>
						<li>
							<a href="/MCQ/login">
								<img src="{% static 'images/marker1.png'%}" title="livehelp" />Login
							</a>
						</li>
						<li>
							<a href="/MCQ/reg" data-rel="popup">
								<img src="{% static 'images/marker1.png'%}" title="Blog" />Register
							</a>
						</li>
					</ul>
				{% endif %}
			</div>
		</div>
			<!---start-header---->
		<div class="header">
			<div class="wrap">
				<!---start-logo---->
				<!-- <div class="logo">
					<img style="height:70px;" src="{% static 'images/Optimum.png' %}"/>
				</div> -->
				<!---end-logo---->
				<!---start-search---->
		
				<div class="clear"> </div>
			</div>
		</div>
		<div class="clear"> </div>
		<div class="header-nav">
			<div class="wrap">
				<div class="left-nav">
					<ul>
						<li >
							<a href="/MCQ">Home</a>
						</li>
						<li class="active">
							<a href="/MCQ/courses">Courses</a>
						</li>
						<!-- <li>
							<a href="/MCQ/contact">Contact</a>
						</li> -->
						{% if role == "Instructor" %}
						<li>
							<a href="/MCQ/students">Students</a>
						</li>
						{% endif %}

						{% if username  %}
						<li>
							<a href="/MCQ/profile">Profile</a>
						</li>
						{% endif %}
					</ul>
				</div>
				<div class="right-social-icons">
					<ul>
						<li><a class="icon1" href="#"> </a></li>
						<li><a class="icon2" href="#"> </a></li>
						<li><a class="icon3" href="#"> </a></li>
						<li><a class="icon4" href="#"> </a></li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
				<!---start-search---->
		</div>
			<!---end-header---->
			<!--start-image-slider---->
		<div class="wrap">
			<div class="content">
				<div class="section group">
				<!-- upload file of questions -->
					<h4>All Students</h4>
					<div id="accordion-6">
						{% for user in users %}
						<h3>{{user.user_name}}</h3>
          				<div>
        					<a href="/search_student/{{user.id}}">View </a>
        				</div>
         				{% endfor %} 
         			</div>
         		</div>
         		<div class="clear"> </div>
			</div>
		</div>				 
		<!---End-content---->
		<div class="clear"> </div>
		<!-- <div class="footer"> 
			<div class="wrap"> 
				<div class="footer-left">
					<ul>
						<li ><a href="/MCQ">Home</a></li>
						{% if username  %}
						<li><a href="/MCQ/profile">Profile</a></li>
						{% endif %}
						<li class="active"><a href="/MCQ/courses">Courses</a></li>
						<li><a href="/MCQ/contact">Contact</a></li>
						{% if role == "Instructor" %}
						<li><a href="/MCQ/students">Students</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="footer-right">
					<p>&copy; MCQ ONLINE website</p>
				</div>
				<div class=="clear"> </div>
			</div>
		</div> -->
	</body>
</html>

